:root {
  --background-page: #8884ff;
  --button-primary: #42e2b8;
  --font-color: rgb(37, 37, 37);
  --glow-color: #bf358e;
}

* {
  padding: 0%;
  margin: 0%;
  font-family: "Open Sans", sans-serif;
  color: var(--font-color);
}

body {
  background-color: var(--background-page) !important;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
/*RESET ESTILOS*/
button,
a {
  all: unset;
}

ul {
  list-style: none;
}

/*MAIN*/
.container {
  margin: 10px;
  border-radius: 1px;
  width: 85%;
  min-height: 100vh;
  background: rgb(250, 215, 161);
  background: linear-gradient(135deg, #FAD7A1 0%, #E96D71 100%);
  display: flex;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  position: relative;
}

/*NAV*/
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 25px;
}

.linkLista {
  width: 40%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-weight: 400;
  margin: 0px;
}

.linkInd {
  opacity: 100%;
  transition: 1s;
  cursor: pointer;
  font-weight: 700;
}

.linkInd:hover {
  opacity: 40%;
}

.logo {
  font-weight: 700;
}

.mainBtn {
  background-color: var(--button-primary);
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid black;
  box-shadow: -4px 4px 14px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  transition: 1s;
  cursor: pointer;
}

.mobileBtn {
  background-color: var(--button-primary);
  padding: 10px 20px;
  border-radius: 20px;
  border: 2px solid black;
  display: none;
  margin-left: 80px;
  box-shadow: -4px 4px 14px rgba(0, 0, 0, 0.25);
  font-weight: 700;
  cursor: pointer;
}

.mainBtn:hover,
.mobileBtn:hover {
  filter: drop-shadow(0px 0px 15px #82e0e4);
}

/*HEAD PRESENTACION*/

.presentacion {
  margin: 50px 30px 50px 30px;
  max-width: 100%;
  min-width: 90%;
  min-height: 30rem;
  display: flex;
  justify-content: space-between;
  position: relative;
}

.infoHead {
  width: 40%;
  min-height: 20rem;
  padding: 10px;
  margin: 3rem;
}

.imgHead {
  width: 40%;
  margin: 3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.img {
  width: 22rem;
  z-index: 1;
  position: absolute;
  top: -25%;
}

.vector2 {
  position: absolute;
  overflow: hidden;
}
.vector1 {
  position: absolute;
  overflow: hidden;
}

.infoTitulo1 {
  font-size: 3rem;
  margin: 1.5rem;
}

.infoTitulo2 {
  font-size: 4rem;
  margin: 1.5rem;
}

.infoPar {
  width: 80%;
  font-size: 1rem;
  font-weight: 400;
  margin: 1.5rem;
}

.infoBtns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 50%;
}

.infoBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.2rem;
  background-color: var(--button-primary);
  border: 2px solid black;
  font-size: 1.3rem;
  cursor: pointer;
}

/*PREPROYECTOS*/

.preProyectos {
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 10rem;
  position: relative;
  margin: 210px 0px;
}

.preProyectos p,
img {
  margin: 20px;
}

.preProyectosDesc1{
  font-size:2rem;
  width: 80%;
  text-align: center;
}

.preProyectosDesc2{
  font-weight: 700;
  font-size: 1.5rem;
}

/*BOTONES PROYECTOS*/
.btnProyecto {
  background-color: var(--button-primary);
  border: 2px solid black;
  padding: 0.7rem 1.5rem;
  margin: 20px 20px 20px 0px;
  border-radius: 90px;
  cursor: pointer;
  font-weight: 700;
}

.btnCodigo {
  border: 2px solid black;
  padding: 0.7rem 1.5rem;
  border-radius: 90px;
  cursor: pointer;
  font-weight: 700;
}

/*PROYECTO*/

.proyecto, .proyecto2 {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 100px 0px;
}

/*COMENTARIO*/
.comentario {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  
}

.glassDiv {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 70%;
  height: 25rem;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(40px);
  padding: 3rem;
  border-radius: 1rem;
  border: 2px solid rgba(255, 255, 255, 0.253);
}

.glassDiv h2,
h3 {
  width: 85%;
  margin: 20px 0px;
}

.glassDiv h2{
  font-size: 2rem;
}

.glassDiv h3{
  font-size: 1.5rem;
  opacity: 50%;

}

/*PROYECTO 1*/
.proyecto1 img {
  width: 650px;
  height: 400px;
}

.proyecto1info,
.proyecto2info {
  width: 50%;
  z-index: 100;
}

.proyecto1info h2 {
  background-color: black;
  color: var(--button-primary);
  padding: 1rem;
  width: fit-content;
  text-align: center;
  box-shadow: -3px 3px 0px white;
  margin-bottom: 20px;
  font-size: 2rem;
}

.proyecto1info p {
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 1rem;
  width: 80%;
}

/*PROYECTO 2*/

.proyecto2info h2 {
  background-color: black;
  color: var(--button-primary);
  padding: 0.5rem;
  width: 40%;
  text-align: center;
  box-shadow: -3px 3px 0px white;
  font-size: 2rem;
}

.proyecto2info p {
  margin: 5px 0px 15px 0px;
}

/*CONTACTO*/

.contacto {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-weight: 400;
  position: relative;
  margin-top: 6rem;
}

.contacto h1 {
  background-color: black;
  color: var(--button-primary);
  padding: 0.5rem;
  width: 30%;
  text-align: center;
  box-shadow: -3px 3px 0px white;
  margin-bottom: 20px;
  font-size: 2rem;
}

.contacto p {
  width: 30%;
  text-align: center;
}

.nombre,
.mail,
.mensaje {
  width: 30%;
  padding: 15px;
  margin: 15px;
}

.nombre label,
.mail label,
.mensaje label {
  margin: 10px;
}

.nombre input,
.mail input,
.mensaje input {
  width: 100%;
  border-radius: 0.5rem;
  outline: none;
  border: 1px solid rgba(0, 0, 0, 0.561);
  text-align: center;
  overflow: scroll;
  height: 3rem;
}

.mensaje input {
  min-height: 10rem;
}

.btnEnviar {
  width: 30%;
  background-color: var(--button-primary);
  border: 2px solid black;
  text-align: center;
  padding: 10px;
  font-weight: 700;
  border-radius: 90px;
  box-shadow: -4px 4px 14px rgba(0, 0, 0, 0.25);
  cursor: pointer;
}

/*FOOTER*/

.footer {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin: 100px 0px 40px 0px;
}

.footerTxt {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerTxt img {
  padding: 0;
  margin: 2px;
}

.footerBtns {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  width: 15%;
}

.hecho{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 50px;
}

/*GLOW*/
.glow1 {
  width: 200px;
  height: 200px;
  background-color: var(--glow-color);
  position: absolute;
  filter: blur(50px);
  opacity: 30%;
  left: -10%;
  top: 15%;
}

.glow2{
  width: 300px;
  height: 300px;
  background-color: var(--button-primary);
  position: absolute;
  filter: blur(50px);
  opacity: 30%;
  left: 25%;
  top: -90%;
  
}

.glow3{
  width: 900px;
  height: 900px;
  border-radius: 50%;
  filter: blur(50px);
  background: radial-gradient(123.93% 188.71% at 16.93% 44.22%, #B93A90 0%, rgba(185, 58, 144, 0) 100%);
  opacity: 0.1;
  position: absolute;
  right: -40%;
  top: -80%;
}

.glow4{
  width: 200px;
  height: 200px;
  background-color: var(--button-primary);
  position: absolute;
  filter: blur(50px);
  opacity: 30%;
  left: 0%;
  top: 40%;
}

.glow5{
  width: 200px;
  height: 200px;
  background-color: var(--button-primary);
  position: absolute;
  filter: blur(50px);
  opacity: 40%;
  right: -5%;
  top: -5%;
}

.glow6{
  width: 200px;
  height: 200px;
  background-color: #28EAE8;
  position: absolute;
  filter: blur(50px);
  opacity: 40%;
  left: 5%;
  top: -5%;
}


/*MOBILE*/
@media screen and (max-width: 768px) {
  .container {
    width: 100%;
    margin: 0%;
    border-radius: 0%;
  }

  /*NAV MOBILE*/
  .linkLista {
    display: none;
  }

  .mainBtn {
    display: none;
  }
  .mobileBtn {
    display: block;
  }
/*HEADER MOBILE*/
  .presentacion {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 10px 0px;
  }

  .infoHead {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: left;
  }

  .infoPar {
    width: 90%;
    font-size: 1.1rem;
  }

  .imgHead {
    width: 100%;
    height: 17rem;
    margin: 70px 0px 0px 0px;
  }

  .img{
    width: 15rem;
    top: -35%;
  }

  .vector1{
    width: 18rem;
  }
  
  .vector2{
    width: 21rem;
  }

  .infoBtns{
    width: 80%;
    display: flex;
    justify-content: start;
  }

  .infoBtn{
    margin: 0px 5px;
  }

  /*PREPROYECTO MOBILE*/

  .preProyectos{
    width: 100%;
    margin: 20px 0px;
    text-align: center;
  }

  /*PROYECTO 1 MOBILE*/

  .proyecto{
    width: 100%;
    flex-direction: column-reverse;
    margin: 50px 0px 30px 0px;
  }

  .proyecto img{
    width: 100%;
    margin: 0px 0px 40px 0px;
  }

  .proyecto1info{
    width: 90%;
    padding: 10px 20px;
  }

  /*COMENTARIO*/

  .comentario{
    width: 100%;
    height: 30rem;
  }

  .glassDiv{
    width: 90%;
    height: 27rem;
    padding: 0%;
    text-align: left;
  }
  
  .glassDiv h2{
    font-size: 1.2rem;
    width: 90%;
  }

  .glassDiv h3{
    font-size: 1rem;
  }

  /*PROYECTO 2*/

  .proyecto2{
    width: 100%;
    flex-direction: column;
    margin: 50px 0px 30px 0px;
  }

  .proyecto2 img{
    width: 100%;
    margin: 0px 0px 40px 0px;
  }

  .proyecto2info{
    width: 90%;
  }

  /*CONTACTO MOBILE*/

  .contacto{
    width: 100%;
    align-items: flex-start;
  }

  .contacto h1{
    width: fit-content;
    text-align: left;
    margin-left: 20px;
  }

  .contacto p{
    width: 80%;
    text-align: left;
    margin-left: 20px;
    font-size: 1.3rem;
  }

  .nombre, .mail, .mensaje{
    width: 90%;
    font-weight: 700;
    font-size: 1.3rem;
    padding: 0px;
  }

  .nombre input, .mail input, .mensaje input{
    margin-top: 15px;
  }

  .btnEnviar{
    width: 85%;
    margin: 5px auto;
  }

  /*FOOTER MOBILE*/

  .footer{
    flex-direction: column-reverse;
  }

  .footerBtns{
    width: 80%;
    justify-content: space-evenly;
  }

  .footerTxt{
    display: flex;
    flex-direction: column;
  }

  .logoFooter{
    display: none;
  }

  .hecho{
    display: flex;
    margin: 40px 0px 10px 0px;
    font-size: 1.2rem;
  }

  .copy{
    width: 90%;
    font-size: 1.3rem;
    text-align: center;
  }

  /*BUTTONS MOBILE*/

  .btnCodigo, .btnProyecto{
    width: 85%;
    text-align: center;
    font-size: 1.2rem;
  }


  /*GLOWS MOBILE*/
  .glow1, .glow2, .glow3, .glow4, .glow5, .glow6{
    display: none;
  }
}
